body {
    background: #CCC;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.container {
    margin-top: 15% !important;
    text-align: center;
}

.alert {
    color: #a94442;
    margin-left: 30px;
    margin-right: 30px;
}

.pull-left {
    margin-bottom: 13px;
}

#msgbox li {
    list-style: none;
}
#msgbox{
    display: none;
}