@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../bundles/sonataadmin/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff'),
    url('../bundles/sonataadmin/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf');
}

body {
    background: #CCC;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.container {
    margin-top: 15% !important;
    text-align: center;
}
