<a class="btn btn-sm btn-default" href="{{ url('araneum_main_admin_application_check_status_state', {'id': object.id}) }}">
	<i class="glyphicon glyphicon-check"></i>
	{{ ''|trans({}, 'AraneumMainBundle') }}
</a>