/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/web/assets/build/html
/web/assets/build/js
/web/assets/build/css
/web/assets/build/img
/web/assets/source/.idea
/composer.phar
/vendor/
/web/bundles/
/web/assets/source/node_modules/
/web/assets/vendor
/web/assets/build
/web/assets/source/bower_components/
!/web/bundles/araneumuser/*
/.idea/
/web/assets/.idea
