/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/admin/source/require/node_modules/
/web/admin/vendor
/web/admin/build
/web/admin/source/require/bower_components/
!/web/bundles/araneumuser/*
/.idea/
.jscsrc