<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Core{% endblock %}</title>
    {% stylesheets
    '@SonataAdminBundle/Resources/public/vendor/bootstrap/dist/css/bootstrap.min.css'
    '@SonataAdminBundle/Resources/public/vendor/AdminLTE/css/font-awesome.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
