<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Core{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/source/bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/source/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/source/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>