<div ng-controller="ResettingController as ctrl" class="block-center mt-xl wd-xl">
	<!-- START panel-->
	<div class="panel panel-dark panel-flat">

		<div class="panel-heading text-center">
			<a href="#">
				<img src="/admin/build/img/logo.png" alt="Image" class="block-center img-rounded"/>
			</a>
		</div>

		<div
			ng-if="ctrl.view.request"
			ng-include="'/admin/build/html/users/partials/request.html'"
			ng-class="{'whirl traditional': ctrl.inLoading}"
			class="panel-body"
		></div>

		<div
			ng-if="ctrl.view.checkMail"
			ng-include="'/admin/build/html/users/partials/check-email.html'"
			class="panel-body"
		></div>

		<div
			ng-if="ctrl.view.reset"
			ng-include="'/admin/build/html/users/partials/reset.html'"
			onload="ctrl.onViewLoaded()"
			ng-class="{'whirl traditional': ctrl.inLoading}"
			class="panel-body"
		></div>

	</div>
	<!-- END panel-->
	<div class="p-lg text-center">
		<span>&copy;</span>
		<span ng-bind="app.year"></span>
		<span>-</span>
		<span ng-bind="app.name"></span>
		<br/>
		<span ng-bind="app.description"></span>
	</div>
</div>