<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('checkStatus', object) }}">
    <i class="glyphicon glyphicon-check"></i>
    {{ 'Check Status'|trans({}, 'AraneumMainBundle') }}
</a>