<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('testConnection', object) }}">
    <i class="glyphicon glyphicon-signal"></i>
    {{ 'Test Connection'|trans({}, 'AraneumMainBundle') }}
</a>