<h3>
	<em class="icon-globe-alt mr"></em>
	<span translate="locales.LOCALES">Locales</span>
</h3>

<div ng-controller="FormBuilderController as vm">
		<div id="filters.panel" class="panel panel-default">
			<div class="panel-heading">
				<paneltool tool-collapse="tool-collapse" tool-refresh="traditional"></paneltool>
				<h3 class="panel-title">
					<em class="fa fa-filter mr-sm"></em>
					<span translate="admin.general.FILTERS">Filters</span>
				</h3>
			</div>
			<div  class="form-horizontal">
				<div collapse="filters.panel" class="panel-wrapper">
					<div class="panel-body pb">
						<div class="row">
							<div class="col-lg-10">
								<div class="row">
									<form-builder data-item="filter"></form-builder>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="panel panel-default">
        <div class="panel-heading pb0">
                <div class="col-xs-6">
                    <action-builder data-item="top"></action-builder>
                </div>
            </div>
        </div>

        <hr class="mb0 mt-lg">

        <div ng-show="vm.errors.length > 0" class="p-lg">
            <div class="mb0 alert alert-danger">
                <div ng-repeat="error in vm.errors track by $index">{{ $index }}. {{ error }}</div>
            </div>
        </div>

        <div ng-class="{'p-xl whirl traditional': !vm.dt.initialized}" class="panel-body">

            <table
                ng-if="vm.dt.initialized"
                datatable="locales"
                dt-options="vm.dt.options"
                dt-instance="vm.dt.instance"
                class="table-bordered table-striped hover"
                cellspacing="0"
                ng-click="vm.onTableClickEvent($event)">
                <thead>
                <tr>
                    <th ng-repeat="column in vm.dt.columns" class="bt0 bl0">{{ column }}</th>
                    <th data-sortable="false" class="bt0 bl0" width="1"></th>
                    <th data-sortable="false" class="bt0 bl0 p text-center" width="1">
                        <div class="checkbox c-checkbox needsclick m0">
                            <label class="needsclick">
                                <input type="checkbox" value="" class="needsclick" rel="select-all" />
                                <span class="fa fa-check mr0"></span>
                            </label>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="fromId">
    <div style="overflow: auto">
        <h3 class="mt0 mb-lg">
            <em class="icon-user-follow"></em>
            Create new user
        </h3>

        <form-builder data-type="create-update" class="form-horizontal"></form-builder>

    </div>
</script>