<a href="{{ url('araneum_main_admin_application_check_status_state', {'id': object.id}) }}"
   data-url="{{ url('araneum_main_admin_application_check_status_state', {'id': object.id}) }}"
   class="btn btn-sm btn-default" title="{{ 'check_status'|trans }}" id="btn-{{ object.id }}">
    <i class="glyphicon glyphicon-check"></i>
</a>