<a href="{{ url('araneum_main_admin_application_check_status_state', {'id': object.id}) }}"
   class="btn btn-sm btn-default" title="{{ 'check_status'|trans }}">
    <i class="glyphicon glyphicon-check"></i>
</a>