<a class="btn btn-sm btn-default" href="{{ url('araneum_main_admin_cluster_checkStatus', {'id': object.id}) }}"
   title="{{ 'check_status'|trans }}" disabled="disabled">
    <i class="glyphicon glyphicon-check"></i>
</a>