<a class="btn btn-sm btn-default" href="{{ url('araneum_main_admin_connection_testConnection', {'id': object.id}) }}"
   title="{{ 'test_connection'|trans }}">
    <i class="glyphicon glyphicon-signal"></i>
</a>