<a class="btn btn-sm btn-default" href="{{ url('araneum_main_admin_connection_testConnection', {'id': object.id}) }}"
   {% if object.type is constant('CONN_DB', object) %}disabled="disabled"
   title="{{ 'test_db_not_allowed'|trans }}" {% else %} title="{{ 'test_connection'|trans }}" {% endif %}>
    <i class="glyphicon glyphicon-signal"></i>
</a>