<p class="text-center pv" translate="user.PASSWORD_RESET">PASSWORD RESET</p>

<form ng-submit="ctrl.sendEmailAction()" role="form" name="ctrl.request" novalidate="" class="form-validate">

	<p class="text-center" translate="user.FILL_EMAIL">Fill with your mail to receive instructions on how to reset your password.</p>

	<div ng-bind="ctrl.error" ng-show="ctrl.error != ''" class="alert alert-danger text-center"></div>

	<div class="form-group has-feedback">
		<label class="text-muted" translate="user.NAME_OR_EMAIL">Name or email address</label>
		<input
			ng-model="ctrl.username"
			ng-minlength="3"
			ng-pattern="/^\w[\w\d\@\.]{2,}/"
			type="text"
			name="username"
			placeholder="Enter your name or email"
			autocomplete="off"
			required="required"
			class="form-control"
		/>
		<span class="fa fa-envelope form-control-feedback text-muted"></span>
		<span ng-show="ctrl.form.username.$dirty &amp;&amp; ctrl.form.username.$error.required" class="text-danger" translate="validator.FIELD_REQUIRED">This field is required</span>
		<span ng-show="ctrl.form.username.$dirty &amp;&amp; ctrl.form.username.$error.pattern" class="text-danger" translate="validator.FIELD_REQUIRED">This field must be a valid username or email address</span>
	</div>

	<button type="submit" class="btn btn-danger btn-block" translate="general.RESET">Reset</button>

	<div class="mt-lg text-center">
		<a ui-sref="login" class="text-muted" translate="user.SIGN_IN">Sign In</a>
	</div>

</form>