<div>
    <table
            class="table-bordered table-striped hover"
            cellspacing="0"
            ng-if="vm.isInitialized"
            datatable="crud-datatable"
            dt-instance="vm.datatable.instance"
            dt-options="vm.datatable.options">
        <thead>
        <tr>
            <th ng-repeat="column in vm.datatable.columns" class="bt0 bl0" translate="{{ column }}"></th>
            <th data-sortable="false" class="bt0 bl0" width="1"></th>
            <th data-sortable="false" class="bt0 bl0 p text-center" width="1">
                <crud-ui type="checkbox" />
            </th>
        </tr>
        </thead>
    </table>
</div>