<div ng-controller="LoginCtrl" class="block-center mt-xl wd-xl">
	<!-- START panel-->
	<div class="panel panel-dark panel-flat">

		<div class="panel-heading text-center">
			<a href="#">
				<img src="/assets/build/img/logo.png" alt="Image" class="block-center img-rounded"/>
			</a>
		</div>

		<div class="panel-body" ng-class="{'whirl traditional': inLoading}">

			<p class="text-center pv">SIGN IN TO CONTINUE.</p>

			<form role="form" ng-submit="submit()" name="form" novalidate="" class="form-validate mb-lg">

				<div ng-show="error != ''" class="alert alert-danger text-center">{{error}}</div>

				<div class="form-group has-feedback">
					<input
						type="text"
						name="username"
						placeholder="Enter username"
						autocomplete="off"
						ng-model="username"
						required="required"
						class="form-control"
					/>
					<span class="fa fa-envelope form-control-feedback text-muted"></span>
					<span ng-show="form.username.$dirty && form.username.$error.required" class="text-danger">This field is required</span>
					<span ng-show="form.username.$dirty && form.username.$error.username" class="text-danger">This field must be a valid username address</span>
				</div>

				<div class="form-group has-feedback">
					<input
							type="password"
							name="password"
							placeholder="Password"
							ng-model="password"
							required="required"
							class="form-control"
					/>
					<span class="fa fa-lock form-control-feedback text-muted"></span>
					<span ng-show="form.password.$dirty && form.password.$error.required" class="text-danger">This field is required</span>
				</div>

				<div class="clearfix">
					<div class="checkbox c-checkbox pull-left mt0">
						<label>
							<input type="checkbox" value="" name="remember" ng-model="remember" checked="{{ remember ? 'checked' : false }}" />
							<span class="fa fa-check"></span>Remember Me
						</label>
					</div>
					<div class="pull-right"><a ui-sref="resetting" class="text-muted">Forgot your password?</a></div>
				</div>

				<button ng-disabled="submitDisabled" type="submit" class="btn btn-block btn-primary mt-lg">Login</button>

			</form>

		</div>

	</div>
	<!-- END panel-->
	<div class="p-lg text-center">
		<span>&copy;</span>
		<span ng-bind="app.year"></span>
		<span>-</span>
		<span ng-bind="app.name"></span>
		<br/>
		<span ng-bind="app.description"></span>
	</div>

</div>