{% extends "AraneumUserBundle:Resetting:resettingBase.html.twig" %}

{% block panel_header %}
	{{ 'recovery_password'|trans }}
{% endblock panel_header %}

{% block panel_body %}
	<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock panel_body %}

{% block panel_footer %}
	<a href="{{ path('fos_user_security_login') }}">{{ 'sign_in'|trans }}</a>
{% endblock panel_footer %}