{% block lang_block %}
    {% for locale in locales|split('|') %}
        <li role="presentation">
            <a role="menuitem"
                href="{{ url(
                    app.request.get('_route'),
                    app.request.attributes.get('_route_params')|merge({'_locale': locale })
                ) }}">
                {{ locale|capitalize }}
            </a>
        </li>
    {% endfor %}
{% endblock %}